# node dependencies
node_modules/

# environment
.env

# data directory containing DB and uploads
/data/

# OS files
.DS_Store
Thumbs.db

# logs
npm-debug.log*

# ignore all files in data
/data/*

# dont hide .gitkeep files in data
!/data/**/.gitkeep

# ignore database files
/data/*.db
/data/*.sqlite